<launch>
    <arg name="robot"       default="hyq"/>
    <arg name="debug"       default="false"/>
    <arg name="gui"         default="true"/>
    <arg name="headless"    default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(find hyq_sims)/world/model.world"/>
        <arg name="debug"           value="$(arg debug)"/>
        <arg name="gui"             value="$(arg gui)"/>
        <arg name="paused"          value="false"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="headless"        value="$(arg headless)"/>
    </include>
<!-- 
    <include file="$(find hyq_sims)/launch/include/$(arg robot).launch.xml" />
-->

<!--  
    <include file="$(find hyq_sims)/launch/include/$(arg robot).test.xml" />
-->

<!--  -->
    <include file="$(find hyq_sims)/launch/include/$(arg robot).tort.xml" />



</launch>