<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
  name="hyq">

  <xacro:include filename="$(find hyq_sims)/xacro/materials.xacro" />
  <xacro:include filename="$(find hyq_sims)/xacro/hyq.xacro" />
  <xacro:include filename="$(find hyq_sims)/xacro/hyq.gazebo" />
  
  <!--<xacro:xbot2_base/>-->
  
</robot>